.container{
    padding-top: 80px;
  }
  img{
    width: 250px;
    height: 250px;
  }
  #cart-btn{
    background-color: blue;
    border: none;
  }
  #clear-btn{
    background-color: red;
    border: none;
  }
  #add-btn{
    background-color: blue;
  }


#search{
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 14px;
  margin-left: 100px;
}
 
 .row{
  display: flex !important;
  justify-content:space-around !important;
  align-items: center !important;
 }

 input[type="search"]::placeholder {
  color: rgb(107, 107, 107);
  font-size: 18px;
}